container {

}

.center-container {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 12%;
}

.list {
    text-align: left;
    margin-left: 50px;
    margin-right: 50px;
}

.cell {
    padding: 10px;
    text-decoration: none;
}

.div-inline {
    display: inline;
}

.div-inline.right {
    float: right;
    width: auto;
    position: relative;
}

.canvas {
    background-position: center;
    background-size: cover;
    height: auto;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    top: 0;
    width: auto;
}

.top {
    height: auto;
    margin: 0;
    left: 0;
    top: 0;
    font-size: 22px;
    color: #FFFFFF;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 22px;
    padding-right: 22px;
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
}

.layer {
    background-color: rgba(0, 0, 0, 0.6);
}

.light-layer {
    background-color: rgba(255, 255, 255, 0.6);
}

.linktext {
    color: #FFFFFF;
    font-size: 82px;
    font-weight: bold;
    position: relative;
    font-family: 'Grand Hotel', cursive;
}

.center-text {
    text-align: center;
}

.linktext.margintop {
    margin-top: 15%;
}

.darktext {
    color: #03122F;
}

.bottom.text {
    color: #cccccc;
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    text-align: center;
    font-family: 'Grand Hotel', cursive;
    margin-bottom: 10%;
    bottom: 0;
    width: 100%;
}
