container {

}

.center-container {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 12%;
}

.canvas {
    background-position: center center;
    background-size: cover;
    height: auto;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    top: 0;
    width: auto;
}

.layer {
    background-color: rgba(0, 0, 0, 0.6);
}

.linktext {
    color: #FFFFFF;
    font-size: 82px;
    font-weight: bold;
    position: relative;
    text-align: center;
    margin-top: 15%;
    font-family: 'Grand Hotel', cursive;
}

.bottom.text {
    color: #cccccc;
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    text-align: center;
    font-family: 'Grand Hotel', cursive;
    margin-top: auto;
    margin-bottom: 10%;
    bottom: 0;
    width: 100%;
}
